body {
    background-color: #6337FF;
    max-width: 700px;
    overflow: hidden;
}
body * {
    font-family: 'Gothic A1', sans-serif;
    padding: 0px;
    margin: 0px;
    -webkit-font-smoothing: antialiased;
}

.t-dot {
    width: 20px;
    position: absolute;
    height: 20px;
    z-index: 100;
    right: 20px;
    top:20px;
}

.stat {
    text-align: center;
    margin: 10px 0px;
}

.grid {
    display: grid;
    width: 100%;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    height: 60px;
}

button {
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
    border: 0px;
}


.codes {
    width: 84%;
    position: relative;
    left: 50%;
    text-align: center;
    height: 30px;
    margin-left: -45%;
    border-radius: 20px;
    padding: 3%;
    border: 0px;
    background-color: rgb(200, 200, 200);
}

.background {
    width: 100vw;
    height: 60%;
    background-color: rgb(250, 250, 250);
    position: fixed;
    z-index: -1;
    bottom: 0px;
    left: 0px;
}

.text {
    margin-left: 20px;
    margin-top: 20px;
    color:white;
    margin-bottom: 10px;
}


.title {
    margin-left: 20px;
    color:black;
    margin-top: 20px;
}


.btn {
    width: 90%;
    padding: 5%;
    background-color: #6337FF;
    border-radius: 30px;
    margin-top: 10px;
    color: white;
    position: relative;
    left: 50%;
    margin-left: -45%;
}

video {
    background-color: black;
    height: 400px;
}

.box {
    overflow: hidden;
    width: 80%;
    height: 500px;
    position: relative;
    left: 50%;
    margin-bottom: 20px;
    margin-left: -45%;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 20px;
    padding: 20px 5%;
}
main {

    width:100%;

    height:100%;

    text-align:center;

}



main > div {

    float:left;

    width:1%;

    height:98%;

}

main > div:first-child {

    width:49%;

}



main > div:last-child {

    background-color:#D3D3D3;

    width:49%;

}



div#output {

    background-color:#BDBEBD;

    padding-left:10px;

    padding-right:10px;

    padding-top:10px;

    padding-bottom:10px;

}



div#frame {

    border:2px solid #005666;

    background-color:#FFFFFF;

    margin-left:10px;

    margin-right:10px;

    padding-left:8px;

    padding-right:8px;

    padding-top:8px;

    padding-bottom:8px;

}



div#outputLayer {

    text-align:left;

}



canvas {

    width:100%;

}